.carousel-caption {
    display: flex;
    flex-direction: column;
    text-align: left;
    left: 5%;
    padding-bottom: 8rem;
}

.carousel-caption p{
    font-size: 1.2em;
}

.carousel-heading {
    font-size: 4em;
    max-width: 60%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* heading part */

.introHead {
    font-size: 2.5em;
    margin: 0 50px 10px 40px;
    padding-top: 1.5em;
    margin-top: 1em;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    letter-spacing: 1.1px;
    text-transform: uppercase;
}

.mirror {
    color: #00263134;
    font-size: 3.5em;
    text-align: center;
    margin-top: -1.85em;
    font-weight: 900;
    z-index: -1;
    user-select: none;
    text-transform: uppercase;
}

/* welcome part */

.headingWelcome {
    font-size: 25px;
    font-family: "Raleway";
    font-weight: 600;
    font-style: italic;
}

.company {
    font-size: 2.5em;
    font-family: "Raleway";
    font-weight: 700;
    color: #0d4d96;
    font-style: normal;
}

.aboutWelcome {
    display: flex;
    font-size: 18px;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.8em;
    color: #555555;
}

.WelcomeImage {
    margin-left: 1rem;
    width: 100%;
    transform: translateY(-5px);
    animation: jump 2s infinite alternate;
}

@keyframes jump {
    to {
        transform: translateY(20px);
    }
}