@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* ------------------------------------------ common ------------------------------------------ */

.structure {
    border: #474f53 solid 2px;
}

.cursorPointer {
    cursor: pointer;
}

.colorBlack {
    color: #444444 !important;
}

.colorBlue {
    color: #1067ca !important;
}

/* ------------------------------------------ header ------------------------------------------ */

.header {
    padding: 1.1em 1em;
    background-color: #000000d5;
    position: fixed;
    width: 100%;
    font-family: "Raleway", sans-serif;
    z-index: 10;
}

.logo-styles {
    height: 40px;
    width: auto;
}

.NavItem {
    color: #ffffff;
    margin-right: 20px;
}

.NavItem:hover {
    color: #b2dcff;
}

.NavItem:focus {
    color: #82a9d6;
}

#nav-dropdown {
    color: #ffffff;
}

#nav-dropdown:hover {
    color: #b2dcff;
}

.nav-items {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 8px;
}

.nav-items:hover {
    color: #0d4d96;
    cursor: pointer;
    text-decoration: underline;
}

.nav-item:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.nav-items:active {
    background-color: #585858;
    color: #ffffff;
    text-decoration: underline;
}

.custom-dropdown .dropdown-menu {
    width: 40rem;
    padding: 1em;
    position: absolute;
    left: 0;
    right: auto;
    transform: translateX(-67%);
    white-space: nowrap;
}

.custom-dropdown .dropdown-menu::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
}

.nav-items-heading {
    color: #0d4d96;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin: 8px;
    margin-bottom: 0.7em;
}

/* ------------------------------------------ Footer ------------------------------------------ */

.containerFooter {
    background-color: #1d1d1d;
    margin: 0;
    width: 100%;
    padding: 1.5em 0;
}

.columnInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-styles2 {
    height: 50px;
    width: auto;
}

.iconItem {
    color: #ffffff;
}

.iconItem:hover {
    color: #82a9d6;
}

.taglineFooter {
    color: #ffffffe7;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 14px;
    user-select: none;
    letter-spacing: 1px;
}

.headingFooter {
    color: #ffffffbd;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.7em;
}

.footerItem {
    color: #ffffff;
    margin-bottom: 7px;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footerItem:hover {
    color: #82a9d6;
}

.footerItem2 {
    color: #ffffff;
    margin-bottom: 7px;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: default;
}

.midFooter {
    border-left: #ffffff1a 0.5px solid;
    border-right: #ffffff1a 0.5px solid;
    padding: 1em 0 0 2em
}

.footerEnd {
    padding: 1em 0 0 2em
}

/* ------------------------------------------ animated background ------------------------------------------ */

.gradient-background {
    background: linear-gradient(324deg, #82a9d6, #b2dcff, #82a9d6);
    background-size: 180% 180%;
    animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* ------------------------------------------ contact ------------------------------------------ */

.background {
    background-color: rgb(0, 196, 204);
    background-image: url(../public/contact.png);
    background-repeat: no-repeat;
    background-position: center;
}

.mainText {
    font-size: 2em;
    color: #ffffff;
    border-left: 4px solid #d2a98e;
    padding-left: 1em;
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.subText {
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 1em;
    margin: 20px 2em;
    word-spacing: 1px;
}

.columnCall {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.columnCall i {
    color: #ffffff;
    font-size: 3em;
}

.reachText {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 16px;
    margin: 10px 0 0 0;
}

.contactNumbers {
    color: #b2dcff;
    font-size: 3em;
    font-weight: 800;
    text-shadow: 5px 3px 6px rgb(7, 7, 7);
}

.contactButton {
    margin: 1.3em;
    font-size: 16px;
    text-transform: uppercase;
    padding: 0.5em 1.5em;
    border: none;
    font-weight: 600;
    box-shadow: 0px 0px 10px rgb(145, 145, 145);
    -webkit-animation: kenburns-bottom 5s ease-in-out both;
    animation: kenburns-bottom 5s ease-in-out both;
}

.btn-grad {
    background-image: linear-gradient(to right, #222222 0%, #444444 51%, #222222 100%);
    transition: 0.5s;
    background-size: 200% auto;
    display: block;
}

.btn-grad:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

@-webkit-keyframes kenburns-bottom {
    0% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
        -webkit-transform-origin: 50% 84%;
        transform-origin: 50% 84%;
    }

    100% {
        -webkit-transform: scale(1.25) translateY(15px);
        transform: scale(1.25) translateY(15px);
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
    }
}

@keyframes kenburns-bottom {
    0% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
        -webkit-transform-origin: 50% 84%;
        transform-origin: 50% 84%;
    }

    100% {
        -webkit-transform: scale(1.25) translateY(15px);
        transform: scale(1.25) translateY(15px);
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
    }
}


.mainText2 {
    font-size: 2em;
    color: #222222;
    border-left: 4px solid #d2a98e;
    padding-left: 1em;
    margin-top: 1em;
    font-weight: 700;
    font-family: "Mulish", sans-serif;
    margin: 0 3rem;
}

.subText2 {
    color: #474f53;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 1em;
    margin: 20px 3em;
    word-spacing: 1px;
}

.imageContact {
    display: flex;
    align-items: center;
    background-color: #f6f2ed;
    background-repeat: no-repeat;
    background-position: center;
    height: 10em;
    opacity: 0.9;
    border-bottom-width: 0px;
    padding-top: 136px;
    padding-bottom: 131px;
    background-size: cover;
}

.imageContact p {
    font-family: 'mullish';
    text-align: center;
    color: #f6f2ed;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 600;
}

.imageContactURL {
    background-image: url("../public/contact.png");
}

/* about */

.containerAbout {
    padding-top: 25vh;
    justify-content: space-between;
}

.heading {
    font-size: 2.5em;
    text-transform: uppercase;
    color: #1d1d1d;
    font-weight: 600;
    font-family: "Raleway";
    color: #043a77;
}

.description {
    color: #444444;
    margin: 20px 0;
    font-family: 'Raleway';
    font-size: 15px;
    line-height: 1.8em;
}

.contactButtonAbout {
    margin: 1.3em 0;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0.7em 1em;
    border: none;
    font-weight: 700;
    box-shadow: 0px 0px 10px rgb(145, 145, 145);
    background-color: #82a9d6;
    color: #043a77;
}

.contactButtonAbout:hover {
    background-color: #d2a98e;
    color: #864c25;
}

.aboutImageContainer {
    height: 80%;
    width: -webkit-fill-available;
    animation: moveUpDown 3s ease-in-out infinite;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

.accordianArea {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image404 {
    width: 95%;
    cursor: none;
    user-select: none;
    pointer-events: none;
}

/* openings */

.containerOpenings {
    padding-top: 2em;
    margin-bottom: 2em;
}

.jobCards {
    margin: 5em 0;
    border: 0.8px solid #58585873;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 3px 6px -3px rgb(145, 145, 145);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.jobCards:hover {
    transform: translateY(-2px);
}

.titleJob {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #043a77;
    text-transform: capitalize;
}

.descJob {
    font-family: 'Raleway';
    font-size: 14px;
    color: #585858;
    word-wrap: break-word;
}

.locationJob {
    display: flex;
    color: #585858;
    text-transform: capitalize;
    font-family: 'Raleway';
}

.locationJob i{
    color: #1067ca;
    margin-right: 5px;
}

.payJob {
    color: #585858;
    font-family: 'Raleway';
}

.blockJob {
    padding: 0 20px ;
    width: fit-content;
    font-weight: 600;
    border-radius: 5px;
}

.fullTime {
    border: 1px solid #043a77;
    background-color: #82a9d677;
    color: #043a77;
}

.parttime {
    border: 1px solid #cf4c00;
    background-color: #cf4c003d;
    color: #cf4c00;
}

.internship {
    border: 1px solid #597c2a;
    background-color: #82b44054;
    color: #597c2a;
}

.experienceText {
    font-size: 14px;
    font-weight: 600;
    color: #585858;
    margin-right: 0.5em;
}

.experienceValue {
    color: #222222;
    font-weight: 700;
    font-size: 16px;
    text-transform: capitalize;
}

.linkJob {
    color: #043a77;
    font-weight: 600;
    text-transform: capitalize;
}

.linkJob:hover{
    text-decoration: underline;
}

.skillsValue {
    display: flex;
    flex-wrap: wrap;
    color: #585858;
    font-size: 14px;
    text-transform: capitalize;
}

/* details */

.containerBlock {
    margin: 6em 0;
    border: 0.8px solid #58585873;
    padding: 20px 3em;
    border-radius: 10px;
    box-shadow: 0px 3px 10px -3px rgb(145, 145, 145);
    color: #585858;
}

.openedonDate {
    display: flex;

    
    justify-content: flex-end;
    color: #585858aa;
    font-weight: 700;
    font-size: 12px;
    font-style: italic;
}

.openedonDate i {
    color: #444444;
    margin-right: 5px;
}

.expDetails {
    font-size: 14px;
    align-items: center;
    margin-bottom: 10px;
}

.descDetails {
    font-size: 14px;
    max-width: 85%;
    margin-bottom: 1em;
}

.descDetailsShort {
    margin: 3em 0 1em 0;
    font-weight: 600;
    color: #253c57;
    font-style: italic;
}

.otherDetails {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    align-items: center;
    margin-bottom: 10px;
    font-weight: 600;
    color: #0d4d96;
    text-transform: capitalize;
    margin-right: 10px;
}

.itemSkills {
    color: #585858;
    font-weight: 400;
    margin-left: 2px;
    margin-right: 3px;
}

.contactDesc {
    color: #253c57;
    font-size: 14px;
    font-family:"raleway";
    font-style: oblique;
    word-spacing: 2px;
    font-weight: 700;
    letter-spacing: 0.5px;
}